*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFF2F9;
    text-align: center;
    font-family: "Saira Condensed";
    overflow-x: hidden;
}
/* HOME BEGINS */
.main-container{
    padding-bottom: 2rem;
}

/* Navbar */
.navbar{
    background-color: rgb(207, 227, 252);
    text-align: right;
    padding-right: .8rem;
}
.navbar-brand{
    color: deeppink;
    font-size: 4rem;
    margin-left: 2rem;
    cursor: pointer;
    letter-spacing: 2px;
}
.navbar-brand:hover{
    transform: scale(1.3);
}
.bar-icon{
    transition: all;
}
.bar-icon:hover{
    animation: bar-rotate 10s ease-in-out 0s infinite forwards ;
}
@keyframes bar-rotate{
    from{
        transform: rotate(0);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.active{
    border-bottom: 3px solid rgb(253, 56, 161); 
}
.nav-link{
    color: rgb(102, 102, 153,0.2);
    text-shadow: 0px 0px rgb(122, 122, 122);
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-left: 4px;
    transition: all ease-in-out;
}
.nav-link:hover{
    transform: translateY(-5px);
    color: rgb(253, 56, 161);
    border-bottom: 3px solid rgb(253, 56, 161);
}

/* Navbar */

.c{
    /* background-color: #676FA3; */
    height: 75vh;
    /* width: 40vw; */
}
.container1{
    background: red;
}
.container2{
    background: blue;
}
.home-content-container{
    /* background: #000; */
    margin-left: 0px;
    width: 100vw;
    margin-top: 5.2rem;
}
.home-title-container{
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0 3rem 0 6rem;
}
.home-title-container-content h1,.home-title-container-content h2{
    font-family: "ultra";
    font-size: 4rem;
    letter-spacing: 1px;
    /* padding: 0 3rem; */
    text-align: left;
}
.home-title-container-content h3{
    color: #676FA3;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: 2px;
    padding-right: 6rem;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    /* font-family: "Saira Condensed"; */
}
.home-title-container-content strong{
    padding: 0 .5rem;
    border: 3.5px solid black;
    cursor: pointer;
}
.home-title-container-content strong:hover{
    background-color: rgb(253, 56, 161);
    border: 3.5px solid #FFF2F9;
    color: #fff;
    padding: 0 .5rem;
    text-shadow: 1px 1px 2px black;
}

/* Geometry */
.geometry-container{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    margin: auto;
    /* background-color: aquamarine; */
}

.rotator{
    background-color: #CDDEFF;
    width: 350px;
    height: 350px;
    position: relative;
    animation: rotator 10s ease-in-out 0.5s infinite normal;
    transition: all; 
}
@keyframes rotator {
    form{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }
    to{
        transform: rotate(180deg);
    }
}
.circle,.square{
    height: 100px;
    width: 100px;
    position: absolute;
}
.circle{
    border-radius: 100%;
    background-color: deeppink;
    z-index: 1;
}
.square{
    background-color: #676FA3;
}
.circle-one{
    top: 0;
    left: 0;
    animation: circle-one 10s ease-in-out 0.5s infinite forwards;
    transition: all;
}
@keyframes circle-one{
    from{
        transform: translate3d(0,0,0);         
    }
     
    50%{
        transform: translate3d(250px,0,0);       
    }

    to{
        transform: translate3d(250px,250px,0);
    }
}
.circle-two{
    bottom: 0;
    right: 0;
      animation: circle-two 10s ease-in-out 0.5s infinite forwards;
     transition: all;
}
@keyframes circle-two{
    from{
        transform: translate3d(0,0,0);         
    }
     
    50%{
        transform: translate3d(-250px,0px,0);       
    }

    to{
        transform: translate3d(-250px,-250px,0);
    }
}
.square-one{
    top: 0;
    right: 0;
}
.square-two{
    bottom: 0;
    left: 0;
}

/* HOME ENDS */

/* About Container */
.about-container{
    min-height: 60vh;
    width: 100vw;
    padding: 2rem 4rem;
}
.about-content-container{
    height: 100%;
    width:100%;
    border-radius: 35px;
    /* background-color: #676FA3; */
    position: relative;
    overflow: hidden;
    background: linear-gradient(338.83deg,#f8c6ff -3.41%,rgba(255,196,255,0) 52.31%),#ffeec4;
}
.about-square-design{
    color: #fff;
    text-shadow: 1px 1px 1px black;
    height: 100%;
    width: 75%;
    text-align: center;
    padding: 1.5rem 2.5rem;
    /* overflow-x: auto; */
    /* background-color: green; */
}
.about-square-design h1{
    /* color: #fff; */
    text-align: left;
    font-size: 5.2 rem;
    color: deeppink;
}
.about-square-design h2{
    text-align: left;
    /* padding:; */
    color: black;
    font-size: 3.7rem;
    margin-bottom: 2rem;
}
.about-square-design p{
    text-align: left;
    color: black;
    font-size: 1.3rem;
    padding-right: 3rem;
    position: relative;
    letter-spacing: 1px;
    font-family: "Josefin Sans";
    border-right: 5px solid white;
    /* box-sizing: border-box; */
}
.about-icon-container{
    /* background: #000; */
    text-align: left;
    margin-top: 4.5rem;
    padding: .5rem;
    position: relative;
}
.about-button{
    position: absolute;
    bottom: 3.5rem;
    /* top: 2rem; */
    margin: auto;
    /* right: 50%; */
    font-size: 1.8rem;
    border-radius: 25px;
    padding: 0.1rem 1rem;
    border: none;
    margin-top: 1.5rem;
    background-color: deeppink;
}
.about-button:hover{
    /* color: deeppink; */
    background-color: black;
    color: deeppink;
    transform: scale(1.2);
}
.about-icon{
    color: #000;
    font-size: 1.7rem;
    font-weight: bolder;
    margin-right: 2rem;
    cursor: pointer;
}
.about-icon:hover{
    transform: scale(1.5);
}
.about-header{
    /* color: white; */
    /* display: inline; */
    /* background: #000; */
    color: #fff;
    font-size: 4.5rem;
    font-family: "Suez One";
    position: absolute;
    bottom: 6.5rem;
    right: -4rem;
    transform: rotate(-90deg);
    text-shadow: 1px 1px 5px black;
}
/* About Container Ends */

.main-skill-container{
    /* height: 45rem; */
    width: 100vw;
    padding: 3rem 4rem;
}
.skill-content-container{
    max-height: 200%;
    /* height: 100%;. */
    /* min-height: 100%; */
    display: block;
    overflow: auto;
    /* width: 100%; */
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(314.25deg,rgba(10,185,149,.7) 1.09%,rgba(10,185,149,0) 43.26%),#dacdff;
    background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
    padding: 4.1rem 0;
    background: #000;
    background-image: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%);
    background-image: linear-gradient(135deg, #43e97b 10%, #38f9d7 100%);
    /* overflow: auto; */

}
.skill-content-header{
    position: absolute;
    transform: rotate(90deg);
    /* top: 6rem; */
    bottom: 5rem;
    left: -3rem;
    color: #fff;

    color: #fff;
    font-size: 4.5rem;
    font-family: "Suez One";
    /* transform: rotate(-90deg); */
    text-shadow: 1px 1px 5px black;
}
.skill-container{
    /* overflow: visible; */
    /* height: 10%;
    width: 90%; */
    /* position: absolute; */
    /* right: 0; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background: blue; */
    padding: 0 1rem;
}
.skill{
    height: 15rem;
    width: 19rem;
    border-radius: 1px;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin: 2.5rem;
    padding: 2rem;
    background-image: linear-gradient(135deg, #f5f7fa 10%, #c3cfe2 100%);
    background-image: linear-gradient(135deg, #a8edea 10%, #fed6e3 100%);
    background-image: linear-gradient(135deg, #243949 10%, #517fa4 100%);
    background-image: linear-gradient(135deg, #dfe9f3 10%, #ffffff 100%);
}
.skill-icon{
    color: #43e97b;
    font-size: 8rem;
    margin-bottom: 1.5rem;
}
.skill-header{
    color: #000;
    font-size: 2rem;
}
.skill-para{
    color: #000;
    font-size: 1.5rem;
}
.fa-html5{
    color: orangered;
}
.fa-css3-alt{
    color: blue;
}
.fa-bootstrap{
    color: purple;
}
.fa-js{
    background: #000;
    color: yellow;
}
.fa-code{
    color: lightblue;
}
.fa-java{
    color: red;
}
.skill-footer{
    /* position: absolute; */
}
/* Skill gets over here */

.main-Project-Section{
    padding: 1rem 4rem;
    width: 100vw;
    /* background: #000; */
}
.project-container{
    /* padding: 3rem 4rem; */
    text-align: center;
    background-image: linear-gradient(135deg, #e9defa 10%, #fbfcdb 100%);
    background-image: linear-gradient(135deg, #abecd6 10%, #fbed96 100%);
    /* background-image: linear-gradient(135deg, #FFFEFF 10%, #D7FFFE 100%); */
    /* background: #000; */
    border-radius: 35px;
}
.project-header{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: #fff;

    font-size: 4.5rem;
    font-family: "Suez One";
    /* transform: rotate(-90deg); */
    text-shadow: 1px 1px 5px black;
}

.project-slide{
    text-align: center;
    padding: 1.5rem 4rem 3rem;
}
.project-image{
    height: 30rem;
    width: 30rem;
    background-size: contain;
}
.carousel-item{
    /* background: #000; */
    min-height: 65vh;
    border: 0;
}
.carousel-item h1{
    /* background: #000; */
    margin-bottom: 2rem;
}
.project-img{
    /* background: #000; */
    margin: 0 auto;
    margin: 1rem 0;
    width: 80%;
    height: 60vh;
}
.carousel-arrows{
    color: #fff;
    font-size: 2rem;
}
.project-slide-header{
    /* background: #fff; */
    color: rgb(21, 255, 177);
    letter-spacing: 5px;
    padding: 1rem 2rem;
    /* margin-bottom: 3.5rem; */
    text-shadow: 2px 2px 3px black;
}
/* Project Section gets over */

.Contact-Me{
    padding: 3rem 3rem;
    width: 100vw;
}
.contact-container{
    min-height: 70vh;
    border-radius: 35px;
    /* background: #000; */
    /* background-image: linear-gradient(135deg, #CE9FFC 10%, #7367F0 100%); */
    background-image: linear-gradient(135deg, #b224ef 10%, #7579ff 100%);
    padding: 6rem 4rem 0rem 4rem;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}
.contact-container-title{
    position: relative;
}
.contact-container-title h1{
    color: #fff;
    font-size: 4rem;
}
.contact-container-title strong{
    color: #000;
    font-size: 4.5rem;
    /* border: 2px solid black */
}
.contact-btn{
    margin-top: 2rem;
    margin-bottom: 6rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 25px;
    color: #8e3eef;
    font-size: 1.2rem;
    font-weight: bolder;
    /* text-shadow: 1px 0px 1px black; */
    letter-spacing: 1px;
    /* vertical-align: top; */
}
.contact-btn:hover{
    background-color: #9534ef;
    border: 2px solid rgb(128, 0, 255);
    color: #fff;
}
.contact-container-links{
    color: white;
    margin: 3rem 0;
    position: absolute;
    /* margin: 0 auto; */
    left: 50%;
    /* right: 50%; */
    transform: translate(-50%,0);
    bottom: 0;
    display: flex;
}
.CM-links{
    /* padding-bottom: 1rem; */
    margin: 0 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all;
    color: #fff;
}
.CM-links:hover{
    transform: translateY(-4px);
}
/* Contact me Section Gets over */

.footer-container h1{
    font-size: 1rem;
}
.footer-container strong{
    letter-spacing: 15px;
}