*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: "Saira Condensed";
    overflow-x: hidden;
    padding-bottom: 0.2em;
    background-color: #FFF2F9;
}
/* HOME BEGINS */
.main-container{
    padding-bottom: 2rem;
}

/* Navbar */
.navbar{
    width: 100%;
    text-align: right;
    padding-right: .8rem;
    background-color: rgb(207, 227, 252);
}
.navbar-brand{
    font-size: 4rem;
    margin-left: 2rem;
    letter-spacing: 2px;
    cursor: pointer;
    color: deeppink;
}

.navbar-brand:hover{
    transform: scale(1.3);
}
.active{
    border-bottom: 3px solid rgb(253, 56, 161); 
}
.nav-link{
    font-size: 1.5rem;
    margin-left: 4px;
    letter-spacing: 2px;
    transition: all ease-in-out;
    color: rgb(102, 102, 153,0.2);
    text-shadow: 0px 0px rgb(122, 122, 122);
}
.nav-link:hover{
    transform: translateY(-5px);
    color: rgb(253, 56, 161);
    border-bottom: 3px solid rgb(253, 56, 161);
}



/* Navbar */

.c{
    /* background: blue; */
    min-height: 65vh;
}
.home-content-container{
    width: 100vw;
    margin-left: 0px;
    margin-top: 8rem;
}
.home-title-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 0 3rem 0 6rem;
}
.home-title-container-content h1,.home-title-container-content h2{
    font-size: 4rem;
    text-align: left;
    letter-spacing: 1px;
    font-family: "ultra";
}
.home-title-container-content h3{
    margin-top: 1rem;
    padding-right: 6rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: bolder;
    color: #676FA3;
}
.home-title-container-content strong{
    padding: 0 .5rem;
    cursor: pointer;
    border: 3.5px solid black;
}
.home-title-container-content strong:hover{
    padding: 0 .5rem;
    color: #fff;
    border: 3.5px solid #FFF2F9;
    text-shadow: 1px 1px 2px black;
    background-color: rgb(253, 56, 161);
}

/* Geometry */
.geometry-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rotator{
    width: 350px;
    height: 350px;
    position: relative;
    background-color: #CDDEFF;
    animation: rotator 10s ease-in-out 0.5s infinite normal;
    transition: all; 
}
@keyframes rotator {
    form{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }
    to{
        transform: rotate(180deg);
    }
}
.circle,.square{
    height: 100px;
    width: 100px;
    position: absolute;
}
.circle{
    z-index: 1;
    border-radius: 100%;
    background-color: deeppink;
}
.square{
    background-color: #676FA3;
}
.circle-one{
    top: 0;
    left: 0;
    animation: circle-one 10s ease-in-out 0.5s infinite forwards;
    transition: all;
}
@keyframes circle-one{
    from{
        transform: translate3d(0,0,0);         
    }
     
    50%{
        transform: translate3d(250px,0,0);       
    }

    to{
        transform: translate3d(250px,250px,0);
    }
}
.circle-two{
    bottom: 0;
    right: 0;
    animation: circle-two 10s ease-in-out 0.5s infinite forwards;
    transition: all;
}
@keyframes circle-two{
    from{
        transform: translate3d(0,0,0);         
    }
     
    50%{
        transform: translate3d(-250px,0px,0);       
    }

    to{
        transform: translate3d(-250px,-250px,0);
    }
}
.square-one{
    top: 0;
    right: 0;
}
.square-two{
    bottom: 0;
    left: 0;
}
@media (max-width: 1000px) {
    .c{
        min-height: 45vh;
    }
    .home-title-container-content h1,.home-title-container-content h2{
        font-size: 3.5rem;
    }
}

@media (max-width: 850px){
    .home-title-container{
        padding: 0 3rem;
    }
}

@media (max-width: 500px){
    .navbar-brand{
        font-size: 3rem;
    }
    .home-title-container-content h1,.home-title-container-content h2{
        font-size: 2.5rem;
    }
    .home-title-container{
        padding: 0 3rem;
        margin-bottom: 3rem;
    }
    .rotator{
        height:150px;
        width: 150px;
    }
    .circle,.square{
        height: 25px;
        width: 25px;
    }
    @keyframes circle-one{
        from{
            transform: translate3d(0,0,0);         
        }
         
        50%{
            transform: translate3d(125px,0,0);       
        }
    
        to{
            transform: translate3d(125px,125px,0);
        }
    }
    @keyframes circle-two{
        from{
            transform: translate3d(0,0,0);         
        }
         
        50%{
            transform: translate3d(-125px,0px,0);       
        }
    
        to{
            transform: translate3d(-125px,-125px,0);
        }
    }
}
/* HOME ENDS */

/* About Container */
.about-container{
    width: 100vw;
    min-height: 60vh;
    padding: 2rem 4rem;
}
.about-content-container{
    height: 100%;
    width:100%;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    background: linear-gradient(338.83deg,#f8c6ff -3.41%,rgba(255,196,255,0) 52.31%),#ffeec4;
}
.about-square-design{
    height: 100%;
    width: 75%;
    text-align: center;
    padding: 1.5rem 2.5rem;
    color: #fff;
    text-shadow: 1px 1px 1px black;
}
.about-square-design h1{
    text-align: left;
    font-size: 5.2 rem;
    color: deeppink;
}
.about-square-design h2{
    text-align: left;
    color: black;
    font-size: 3.7rem;
    margin-bottom: 2rem;
}
.about-square-design p{
    padding-right: 3rem;
    position: relative;
    font-family: "Josefin Sans";
    font-size: 1.3rem;
    text-align: left;
    letter-spacing: 1px;
    color: black;
    border-right: 5px solid white;
}
.about-icon-container{
    text-align: left;
    margin-top: 4.5rem;
    padding: .5rem;
    position: relative;
}
.about-icon{
    color: #000;
    font-size: 1.7rem;
    font-weight: bolder;
    margin-right: 2rem;
    cursor: pointer;
}
.about-icon:hover{
    transform: scale(1.5);
}
.about-header{
    color: #fff;
    font-size: 4.5rem;
    font-family: "Suez One";
    position: absolute;
    bottom: 6.5rem;
    right: -4rem;
    transform: rotate(-90deg);
    text-shadow: 1px 1px 5px black;
}
@media (max-width:850px) {
    .about-container{
        padding: 1rem 2rem;
    }
}
@media (max-width: 750px){
    .asd-p{
        padding: 1rem;
        border: none;
        height: 50vh;
        overflow-x: scroll;
    }
}
@media (max-width:500px) {
    .about-container{
        padding: 1rem 1.5rem;
    }
    .about-square-design{
        padding: .5rem 1.5rem;
    }
    .about-square-design h1{
        font-size: 1.7rem;
    }
    .about-square-design h2{
        font-size: 2.5rem;
    }
    .about-square-design p{
        border: none;
        font-size: 1rem;
        letter-spacing: 0.5px;
        padding-right: 1.5rem;
    }
    .about-icon-container{
        margin: 2.5rem 0; 

    }
    .about-icon{
        font-size: 1rem;
    }
    .about-header{
        font-size: 3rem;
        right: -3.5rem;
    }
}
/* About Container Ends */

.main-skill-container{
    width: 100vw;
    padding: 3rem 4rem;
}
.skill-content-container{
    display: block;
    max-height: 200%;
    border-radius: 35px;
    position: relative;
    background-image: linear-gradient(135deg, #43e97b 10%, #38f9d7 100%);
}
.skill-content-header{
    position: absolute;
    top: 13rem;
    left: -3rem;
    transform: rotate(90deg);
    font-family: "Suez One";
    font-size: 4.5rem;
    color: #fff;
    text-shadow: 1px 1px 5px black;
}
.skill-container{
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.skill{
    width: 19rem;
    height: 15rem;
    padding: 2rem;
    margin: 2.5rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 1px;
    color: #fff;
    background-image: linear-gradient(135deg, #dfe9f3 10%, #ffffff 100%);
}
.skill-icon{
    font-size: 8rem;
    margin-bottom: 1.5rem;
    color: #43e97b;
}
.skill-header{
    color: #000;
    font-size: 2rem;
}
.fa-html5{
    color: orangered;
}
.fa-css3-alt{
    color: blue;
}
.fa-bootstrap{
    color: purple;
}
.fa-js{
    background: #000;
    color: yellow;
}
.fa-code{
    color: lightblue;
}
.fa-java{
    color: red;
}
@media (max-width: 1000px){
    .skill{
        height: 13rem;
        width: 15rem;
    }
    .skill-content-header{
        font-size: 3.5rem;
        left: -2.5rem;
    }
    .skill-header{
        font-size: 2.2rem;
    }
    .skill-icon{
        font-size: 6.5rem;
        margin-bottom: .8rem;
    }
}
@media (max-width:850px) {
    .main-skill-container{
        padding: 1rem 1.5rem;
    }
}
@media (max-width: 750px){
    .skill{
        height: 13rem;
        width: 13rem;
    }
    .skill-content-header{
        font-size: 3rem;
        left: -2.5rem;
    }
    .skill-header{
        font-size: 2rem;
    }
    .skill-icon{
        font-size: 6rem;
        margin-bottom: .8rem;
    }
}
@media (max-width: 500px){
    .main-skill-container{
        padding: 1rem 1.5rem;
    }
    .skill-content-header{
        font-size: 3rem;
    }
    .skill-content-container{
        padding: 1.2rem 0;
    }
    .skill{
        height: 8rem;
        width: 8rem;
        font-size: 1rem;
        margin: .5rem;
        padding: .5rem;
    }
    .skill-header{
        font-size: 1.2rem;
    }
    .skill-icon{
        font-size: 4.5rem;
        margin-bottom: .5rem;
    }
}
/* Skill gets over here */

.main-Project-Section{
    width: 100vw;
    padding: 1rem 4rem;
}
.project-container{
    border-radius: 35px;
    text-align: center;background-image: linear-gradient(135deg, #abecd6 10%, #fbed96 100%);
}
.project-slide{
    text-align: center;
    padding: 1.5rem 4rem 3rem;
}
.project-image{
    height: 30rem;
    width: 30rem;
    background-size: contain;
}
.carousel-item{
    min-height: 65vh;
    border: 0;
}
.carousel-item h1{
    margin-bottom: 2rem;
}
.carousel-arrows{
    font-size: 2rem;
    color: #fff;
}
.project-slide-header{
    padding: 1rem 2rem;
    letter-spacing: 5px;
    color: rgb(21, 255, 177);
    text-shadow: 2px 2px 3px black;
}
@media (max-width:850px){
    .main-Project-Section{
        padding: 1rem 1.5rem;
    }
}
@media (max-width: 750px){
    .main-Project-Section{
        padding: 1rem 1.5rem;
    }
    .project-slide{
        padding: 1.5rem 2rem 2rem;
    }
    .project-image{
        height: 22rem;
        width: 22rem;
    }
}
@media (max-width:500px){
    .main-Project-Section{
        padding: 1rem 1.5rem;
    }
    .project-header{
        display: none;
    }
    .project-slide{
        padding: 1.5rem 2rem 2rem;
    }
    .carousel-item{
        min-height: 30rem;
    }
    .project-image{
        height: 15rem;
        width: 15rem;
    }
}
/* Project Section gets over */

.Contact-Me{
    padding: 3rem 3rem;
    width: 100vw;
}
.contact-container{
    min-height: 75vh;
    border-radius: 35px;
    padding: 6rem 4rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
}
.contact-container-title{
    position: relative;
}
.contact-container-title h1{
    color: #fff;
    font-size: 4rem;
}
.contact-container-title strong{
    color: #000;
    font-size: 5.5rem;
}
.contact-btn{
    margin-top: 2rem;
    margin-bottom: 6rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #000dc7;
}
.contact-btn:hover{
    color: #fff;
    background-color: #d4418e;
    background-image: linear-gradient(135deg, #b224ef 10%, #7579ff 100%);
}
.contact-container-links{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 3rem 0 1.5rem;
    transform: translate(-50%,0);
    color: white;
}
.CM-links{
    margin: 0 1.4rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all;
    color: #fff;
}
.CM-links:hover{
    transform: translateY(-4px);
}

@media (max-width: 850px){
    .Contact-Me{
         padding: 1rem 1.5rem;
    }
}
@media (max-width: 750px){
    .contact-container-title h1{
        font-size: 1.7rem;
    }
    .contact-container-title strong{
        font-size: 2.1rem;
    }
}
@media (max-width: 500px){
    .Contact-Me{
        padding: 1rem 1.5rem;
    }
    .contact-container{
        min-height: 50vh;
        padding: 3rem 2rem 0;
    }
    .contact-container-title h1{
        font-size: 2rem;
    }
    .contact-container-title strong{
        font-size: 2.5rem;
    }
    .contact-btn{
        margin-top: 1rem;
        margin-bottom: 4rem;
        border: none;
        border-radius: 25px;
        color: #8e3eef;
        font-size: .8rem;
        font-weight: bolder;
        letter-spacing: .5px;
    }
    .contact-container-links{
        margin: 4rem 0rem 0;
        bottom: .5rem;
    }
    .CM-links{
        margin: 0 0.8rem;
        font-size: 1rem;
    }

}
/* Contact me Section Gets over */

.footer-container h1{
    font-size: 1rem;
    color: deeppink;
}
.footer-container strong{
    color: #000;
    letter-spacing: 15px;
}

@media (max-width: 500px) {
    .footer-container h1{
        color: deeppink;
        font-size: .6rem;
    }
    .footer-container strong{
        color: #000;
        letter-spacing: 5px;
    }
}
